.profile_text {
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 50px;
}

.profile_nav .nav {
    border-radius: 12px;
    border: 1px solid #E4E5E7;
    background: #FFF;
    width: 310px;
    height: 281px;
    flex-shrink: 0;
    align-items: start;
    padding-top: 30px;
    padding-left: 43px;
}

.profile_nav .nav-link {
    padding: 0;
    margin-bottom: 40px;
    color: var(--Paragraph, #5B606C);
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    /* 22px */
}

.nav-pills .nav-link.active {
    color: var(--Primary-color-1, #2055A1);
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    background-color: transparent;
    position: relative;
}

.nav-pills .nav-link.active::before {
    content: "";
    background-color: #2055A1;
    width: 2px;
    height: 42px;
    position: absolute;
    left: -46px;
    top: -11px;
}


/* profile card */
.profile-card {
    border-radius: 8px;
    padding: 60px;
    padding-bottom: 50px;
    display: flex;
    align-items: flex-start;
    font-family: sans-serif;
    max-width: 980px;
    width: 100%;
    flex-grow: 1;
    margin-bottom: 150px;
}

.tab-content {
    width: 100%;
    border-radius: 12px;
    border: 1px solid #E4E5E7;
    background: #FFF;
}

.profile-image {
    margin-right: 130px;
    text-align: center;
}

.detail-row .label {
    color: #8B8D91;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    margin-bottom: 30px;
    width: 75px;
}

.detail-row .value {
    color: #141C3C;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    margin-bottom: 30px;
    /* 18px */
}

.profile-image img {
    width: 100px;
    height: 100px;
    border-radius: 8px;
    object-fit: cover;
}

.profile-name {
    margin-top: 10px;
    font-weight: bold;
}

.profile-details {
    flex-grow: 1;
}

.detail-row {
    display: flex;
    /* justify-content: space-between; */
    gap: 42px;
    margin-bottom: 5px;
}

.label {
    font-weight: bold;
}

/* edit profile */
.camera_icon {
    position: absolute;
    right: 10px;
    background-color: #500190;
    width: 49px;
    height: 49px;
    border-radius: 100%;
}


/* edit profile */


.profile-container {
    padding: 35px;
}

.text-muted {
    color: #9F9F9F;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    margin-top: 17px;
    margin-bottom: 65px;
}

.edit-details h5 {
    color: var(--Heading, #141C3C);
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0.12px;
}

.edit-details label {
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0.08px;
}

.edit-details input {
    border-radius: 12px;
    border: 0.5px solid #8B8D91;
    height: 50px;
    color: #8B8D91;
    font-family: 'Poppins', sans-serif;
    margin-top: 22px;
    margin-bottom: 30px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0.08px;
}

.edit-details .save_changes {
    border-radius: 12px;
    background: var(--Primary-color-1, #2055A1);
    width: 238px;
    height: 52px;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.profile-picture .text {
    color: var(--Heading, #141C3C);
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    margin-bottom: 25px;
    /* 24px */
}


/*  */
.profile-picture {
    width: 204px;
    position: relative;
    /* margin:0 20px auto; */
}

.profile-picture img {
    /* width: 150px;
    height: 150px; */
    border-radius: 10px;
    object-fit: cover;
}

.camera-icon {
    position: absolute;
    bottom: 15px;
    right: 6px;
    background-color: purple;
    color: white;
    padding: 8px;
    border-radius: 50%;
    display: flex;
    /* align-items: center; */
    /* justify-content: cen ter; */
}

.file-types {
    margin-top: 10px;
    font-size: 0.8em;
    color: gray;
}

.password_input {
    position: relative;
}
.password_input img{
    position: absolute;
    right: 15px;
    top: 14px;
    cursor: pointer;
}
