.chart-container {
    background-color: #fff;
    padding: 32px;
    margin-top: 36px;
    margin-bottom: 90px;
}

.chart-container h3 {
    color: var(--Heading, #141C3C);
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 50px;
    /* 83.333% */
}

.chart-container select {
    border-radius: 4px;
    border: 0.6px solid #D5D5D5;
    color: rgba(43, 48, 52, 0.40);
    text-align: right;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 10px;
    margin-bottom: 50px;
    /* 83.333% */
}

.apexcharts-toolbar {
    display: none;
}

.dashboard_cards {
    margin-top: 52px;
}

.dashboard_cards p {
    color: var(--Paragraph, #5B606C);
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    /* 18px */
}

.dashboard_cards h2 {
    font-family: 'Poppins', sans-serif;
    color: var(--Heading, #141C3C);
    font-feature-settings: 'liga' off, 'clig' off;
    font-size: 38px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    margin-top: 12px;
}

.apexcharts-menu-icon {
    display: none;
}

/* cards */
.metric-card {
    border-radius: 12px;
    border: 1px solid #E7E7E7;
    background: #FFF;
    padding: 24px;
    text-align: start;
    margin-bottom: 20px;
    height: 150px;
    position: relative;
    margin-top: 10px;
}

.metric-icon {
    position: absolute;
    right: 24px;
    bottom: 24px;
}

.metric-card h5 {
    color: var(--Paragraph, #5B606C);
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    margin-bottom: 12px;
    /* 16px */
}

.metric-card p {
    color: var(--Heading, #141C3C);
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: 'Poppins'sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    /* 40px */
}

.metric-card p {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.metric-card .icon {
    font-size: 2rem;
    color: #007bff;
}

.metric-card .badge {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #dc3545;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

.metric-card .badge-blue {
    background-color: #007bff;
}

.metric-card .rupee-icon {
    font-size: 2rem;
    color: #007bff;
    display: inline-block;
}

.metric-card .currency-value {
    display: inline-block;
}

.metric-card .currency-container {
    display: flex;
    align-items: center;
    justify-content: center;
}