/* rooot */

:root {

    --primary: #009BDB;
    --secondary: #71CFF3;
    --Primary-color-1: #2055A1;
    --Heading: #222;
    --color-414141: #414141;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

:focus-visible {
    outline: none;
}

:focus {
    outline: none;
}

.row {
    margin: 0 !important;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
    padding: 0 !important;
}

.heading_text {
    color: #000;
    text-align: center;
    font-family: Nunito;
    font-size: 58px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    /* 75.4px */
    letter-spacing: 2.32px;
}

/* rooot */

body {
    font-family: "Nunito Sans", sans-serif;
    overflow-x: hidden !important;
}

button {
    border: none;
    background: none;
}

input {
    background: transparent;
    border: none;
}

.section_gap {
    margin: 180px 0;
}

.bg-light {
    background-color: white;
}

.container {
    max-width: 1320px;
    padding: 0;
    /* margin: auto; */
}


/* header start --------------------------*/
.nav-item {
    font-size: 18px;
    font-weight: 700;
    color: var(--Heading);
}

.navbar-light .navbar-nav .nav-link.active {
    color: var(--Primary-color-1);
}

.navbar-expand-lg .navbar-nav {
    gap: 46px;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 0;
}

.signup_button {
    padding: 13px 23px;
    color: var(--secondary1);
    border-radius: 134px;
    background: var(--Primary-color-1, #2055A1);
    color: #FFF;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 13px 23px;
}

.login_button {
    padding: 13px 23px;
    color: var(--Primary-color-1, #2055A1);
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 134px;
    border: 1px solid var(--Primary-color-1, #2055A1);
}

/* header end----------------------------- */



/* searchbar start------------------------ */
.search-container {
    background-color: var(--secondary);
    padding: 38px 0px;
}

.search-container button {
    border: none;
    padding: 18px 0;
    width: 223px;
    border-radius: 5px;
    margin-right: 5px;
    height: 70px;
    border-radius: 178px;
    background: #FFF;
    box-shadow: 0px 0px 24px 0px rgba(32, 85, 161, 0.30);
    color: var(--Heading);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    justify-content: start;
    padding-left: 31px;
    align-items: center;
    gap: 20px;
}

.search-bar input {
    border: none;
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    padding-left: 34px;
    width: 100%;
    height: 70px;
    justify-content: space-between;
    border-radius: 178px;
    background: #FFF;
    box-shadow: 0px 0px 24px 0px rgba(32, 85, 161, 0.30);
    color: #999;
    font-family: Nunito;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.search-bar .search-icon {
    border-radius: 150px;
    background: #2055A1;
    color: white;
    display: flex;
    width: 57px;
    height: 57px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
}

@media (max-width: 576px) {
    .search-container .container {
        flex-direction: column;
        gap: 10px;
    }

    .search-bar {
        max-width: 100%;
    }
}

/* searchbar end------------------ */

/* banner start */
.banner_container {
    height: 742px;
    background-image: url('/assets/home/banner-bg.png');
    background-repeat: no-repeat;
    background-size: cover;

}

.left-section h1 {
    color: #000;
    font-family: Nunito;
    font-size: 75px;
    font-style: normal;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 3.75px;
    margin-bottom: 20px;
}

.left-section p {
    color: var(--Heading, #222);
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 37px;
    letter-spacing: 1.2px;
    margin-bottom: 40px;
}

.buttons button {
    padding: 15px 30px;
    margin-right: 10px;
    border: none;
    border-radius: 134px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
}

.buttons .shop-now {
    background: #009BDB;
    color: white;
}
.banner_left_col{
    padding: 134px 0;
}
.buttons .contact-us {
    border-radius: 134px;
    border: 1px solid var(--Primary-color-1, #2055A1);
    padding: 15px 27px;
    color: var(--Primary-color-1, #2055A1);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}

.banner_container .banner_img{
    right: -50px;
    top: 50px;
}
@media (max-width: 768px) {

    /* Add more breakpoints */
    .left-section h1 {
        font-size: 2.5rem;
        letter-spacing: 0.1rem;
    }

    .left-section p {
        font-size: 0.9rem;
        line-height: 1.4rem;
    }
}

@media (max-width: 576px) {
    .left-section h1 {
        font-size: 1.8rem;
    }

    .section_gap {
        margin: 3rem 0;
    }
}

/* banner end----------------------- */


/* feature category section start */
.featured-categories .row {
    padding: 0 16px;
    /* gap: 90px; */
}

.product-card {
    /* height: 295px; */
    width: 100%;
}


.featured-categories h2 {
    margin-bottom: 80px;
    color: #000;
    text-align: center;
    font-family: Nunito;
    font-size: 58px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: 1.16px;
}

.category-item {
    text-align: center;

}

.category-circle {
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background-color: #71CFF3;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 24px;
    overflow: hidden;
}

.category-circle img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.category-item p {
    margin-top: 24px;
    color: #000;
    text-align: center;
    font-family: Nunito;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.92px;
}



/* feature category section end----------------- */



/* why choose us start */

.left-section {
    position: relative;
}

.image-wrapper .bg_whychoose {
    width: 100%;
    display: block;
    height: 724px;
}

.play-button img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


.right-section {
    padding: 128px 0 0 128px;
    background: #E1F7FF;
}

.right-section h2 {
    margin-bottom: 10px;
    color: #000;
    font-family: Nunito;
    font-size: 58px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    /* 75.4px */
    text-transform: capitalize;
}

.right-section p {
    margin-bottom: 40px;
    /* line-height: 1.6; */
    color: var(--Paragraph, #414141);
    /* Paragraph */
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 24px */
    letter-spacing: 0.64px;
}

.info-blocks {
    gap: 50px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    /* margin-bottom: 30px; */
    margin-right: 40px;
}

.info-block {
    display: flex;
    align-items: center;
    gap: 18px;
    margin-right: 30px;
}

.info-block svg {
    margin-right: 10px;
    fill: #007bff;
    /* Bootstrap primary blue */
}

.info-block p {
    margin: 0;
    line-height: 1.4;
    color: var(--Heading, #222);
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    /* 30px */
    letter-spacing: 0.8px;
}

.discover-shop {
    border-radius: 154px;
    background: #009BDB;
    width: 188px;
    height: 52px;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 65px;
}



/* why choose us end */

/* feature products start */
.featured-products {
    padding: 0px 180px;
    /* max-width: 1560px; */
    /* width: 100%; */
}

.featured-products h2 {
    margin-bottom: 67px;
    color: #000;
    text-align: center;
    font-family: Nunito;
    font-size: 58px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    /* 75.4px */
    letter-spacing: 2.32px;
}

.product-card {
    text-align: center;
    padding: 9px;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 100%;
}

.product_image img {
    width: 100%;
    border-radius: 10px;
    height: auto;
    margin-bottom: 23px;
}

.slick-dots li button:before {
    color: #E1F7FF;
}

.slick-dots {
    bottom: -50px !important;
}

.slick-slider_blog.row {
    margin-left: -10px;
    /* Adjust if needed to compensate for column padding */
    margin-right: -10px;
    /* Adjust if needed to compensate for column padding */
}

.slick-slider_blog .slide {
    padding-left: 10px;
    /* Adjust to half of the desired gap */
    padding-right: 10px;
    /* Adjust to half of the desired gap */
    margin-bottom: 20px;
    /* Add margin between rows */
}

.product-card {
    margin-bottom: 20px;
    /* Add margin between product cards */
}

.product-card h3 {
    color: #000;
    text-align: center;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 151%;
    /* 24.16px */
    letter-spacing: 1.28px;
    margin-bottom: 10px;
}

.product-card .old-price {
    text-decoration: line-through;
    color: #888;
    margin-left: 5px;
}

.product-icon {
    background-color: #f0f0f0;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
}


/* feature products end */

.ourlatest_blog .slick-prev:before,
.ourlatest_blog .slick-next:before {
    width: 60px !important;
    height: 60px !important;
    border-radius: 50% !important;
    background-color: #FFFFFF !important;
    border: #DFDFDF 1px solid !important;
    color: #DFDFDF !important;
}



.ourlatest_blog .slick-next:before {
    width: 60px !important;
    height: 60px !important;
    border-radius: 50% !important;
    background-color: #FFFFFF !important;
    border: #DFDFDF 1px solid !important;
    color: #DFDFDF !important;
}

.ourlatest_blog .slick-next {
    right: -60px !important;
}


.ourlatest_blog .slick-prev {
    left: -100px !important;
}

.ourlatest_blog .slick-next:before {
    content: ">" !important;
}

.ourlatest_blog .slick-prev:before {
    content: "<" !important;

}

.ourlatest_blog .slick-prev:before,
.ourlatest_blog .slick-next:before {
    color: #DFDFDF !important;
    background-color: #FFFFFF !important;
    border: #DFDFDF 1px solid !important;
    font-family: 'Outfit', sans-serif;
    display: flex;
    width: 126px;
    height: 57px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 11px;
    border: 1px solid#131C1E;
    background: #FFF;
    opacity: 1 !important;
    margin-bottom: 150px;
}

.ourlatest_blog .slick-prev:hover:before,
.ourlatest_blog .slick-next:hover:before {
    background: linear-gradient(to right, #f1f1f1 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all 0.4s ease-out;
}

.ourlatest_blog .slick-prev,
.ourlatest_blog .slick-next {
    top: 40% !important;
}


/* testimonial start ------------ */
.testimonial {
    background-image: url('/assets/home/banner-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding-top: 72px;
    padding-bottom: 90px;
}


.testimonial p {
    color: var(--Heading, #222);
    text-align: center;
    font-family: Nunito;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
    letter-spacing: 1.08px;
    margin-bottom: 27px;
}

.testimonial h3 {
    color: #738389;
    font-family: Nunito;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.2px;
}

.testimonial span {
    color: #738389;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.96px;
}



/* testimonial end ------------ */


/* news start */
.news-container {
    background-color: white;
    /* padding: 30px; */
    border-radius: 10px;
    /* margin: 50px auto; */
    /* max-width: 1200px; */
}

.news-card {
    border-radius: 15px;
    overflow: hidden;
}

.news-card img {
    width: 100%;
    height: 200px;
    border-radius: 15px;
    object-fit: cover;
}

.news-card-body {
    margin-top: 12px;
}

.news-card-body h5 {
    color: #000;
    font-family: Nunito;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.2px;
    margin-bottom: 16px;
}

.news-card-body p {
    color: #000;
    margin-bottom: 24px;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.96px;
}

.news-card-body a {
    color: #000;
    font-family: Nunito;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.2px;
    text-decoration: none;
}

.news-container h2 {
    color: #000;
    text-align: center;
    font-family: Nunito;
    font-size: 58px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    /* 75.4px */
    letter-spacing: 2.32px;
    margin-bottom: 50px;
}

/* news end */

/* client */
.client_images {
    gap: 124px;
}

/* newsletter start  */
.newsletter-section {
    background-color: #009BDB;
    /* Blue background */
    color: white;
    padding: 35px 0;
    text-align: center;
}

.newsletter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* max-width: 600px; */
    margin: 0 auto;
}

.newsletter-container span {
    margin-right: 20px;
    color: #FFF;
    font-family: Nunito;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    /* 46.8px */
}

.email-input {
    padding: 16px 4px 16px 24px;
    width: 488px;
    border-radius: 100px;
    background: #FFF;
    color: #BEBEBE;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.subscribe-button {
    position: absolute;
    right: 4px;
    top: 4px;
    border-radius: 100px;
    background: var(--Primary-color-1, #2055A1);
    width: 116px;
    height: 42px;

    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.subscribe-button:hover {
    background-color: #004280;
    /* Darker hover effect */
}

/* newsletter end  */







/* footer start */
.footer {
    background-color: #051429;
    color: #FFFFFF;
    padding: 70px 0px 60px;
    padding-bottom: 0;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    max-width: 986px;
    margin: 0 auto;
    flex-wrap: wrap;
    border-bottom: 1px solid #676666;
    padding-bottom: 70px;
}

.footer-section p {
    color: #FFF;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 26px;
    letter-spacing: 0.84px;
}

.footer-section h3 {
    margin-bottom: 16px;
    color: #FFF;
    font-family: Nunito;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.08px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section a {
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 26px;
    letter-spacing: 0.84px;
    text-decoration: none;
}

.footer-section a:hover {
    text-decoration: underline;
}

.footer-bottom {
    background-color: #051429;
    padding: 34px 20px;
    text-align: center;
    font-size: 0.9em;
}

.footer-bottom-content {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.footer-bottom-content {

    max-width: 986px;
    margin: 0 auto;
}

.footer-bottom p {
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    /* 14px */
}

.footer-bottom a {
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    /* 14px */
}

.footer-bottom a:hover {
    text-decoration: underline;
}

.footer-social {
    text-align: center;
    margin-top: 48px;
}

.footer-social a {
    color: #FFFFFF;
    margin-left: 20px;
    font-size: 1.2em;
}

.footer-logo {
    text-align: center;
    margin-bottom: 70px;
}

.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #00AEEF;
    color: #FFFFFF;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* header end */