/* rooot */

:root {

    --primary: #009BDB;
    --secondary: #71CFF3;
    --Primary-color-1: #2055A1;
    --Heading: #222;
    --color-414141: #414141;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

:focus-visible {
    outline: none;
}

:focus {
    outline: none;
}

/* rooot */

body {
    font-family: "Nunito Sans", sans-serif;
    overflow-x: hidden;
}

button {
    border: none;
    background: none;
}

input {
    background: transparent;
    border: none;
}

.section_gap {
    margin: 180px 0;
}

.bg-light {
    background-color: white;
}

.container {
    max-width: 1320px;
    padding: 0;
    /* margin: auto; */
}


/* header start --------------------------*/
.nav-item {
    font-size: 18px;
    font-weight: 700;
    color: var(--Heading);
}

.navbar-light .navbar-nav .nav-link.active {
    color: var(--Primary-color-1);
}

.navbar-expand-lg .navbar-nav {
    gap: 46px;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 0;
}

.signup_button {
    padding: 13px 23px;
    color: var(--secondary1);
    border-radius: 134px;
    background: var(--Primary-color-1, #2055A1);
    color: #FFF;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 13px 23px;
}

.login_button {
    padding: 13px 23px;
    color: var(--Primary-color-1, #2055A1);
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 134px;
    border: 1px solid var(--Primary-color-1, #2055A1);
}

/* header end----------------------------- */



/* searchbar start------------------------ */
.search-container {
    background-color: var(--secondary);
    padding: 38px 0px;
}

.search-container button {
    border: none;
    padding: 18px 0;
    width: 223px;
    border-radius: 5px;
    margin-right: 5px;
    height: 70px;
    border-radius: 178px;
    background: #FFF;
    box-shadow: 0px 0px 24px 0px rgba(32, 85, 161, 0.30);
    color: var(--Heading);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    justify-content: start;
    padding-left: 31px;
    align-items: center;
    gap: 20px;
}

.search-bar input {
    border: none;
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    padding-left: 34px;
    width: 100%;
    height: 70px;
    justify-content: space-between;
    border-radius: 178px;
    background: #FFF;
    box-shadow: 0px 0px 24px 0px rgba(32, 85, 161, 0.30);
    color: #999;
    font-family: Nunito;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.search-bar .search-icon {
    border-radius: 150px;
    background: #2055A1;
    color: white;
    display: flex;
    width: 57px;
    height: 57px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
}

/* searchbar end------------------ */

/* banner start */

.banner_container {
    padding-left: 313px;
    height: 742px;
    background-image: url('/assets/home/banner-bg.png');
}

.left-section h1 {
    color: #000;
    font-family: Nunito;
    font-size: 75px;
    font-style: normal;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 3.75px;
    margin-bottom: 20px;
}

.left-section p {
    color: var(--Heading, #222);
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 37px;
    letter-spacing: 1.2px;
    margin-bottom: 40px;
}

.buttons button {
    padding: 15px 30px;
    margin-right: 10px;
    border: none;
    border-radius: 134px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
}

.buttons .shop-now {
    background: #009BDB;
    color: white;
}

.buttons .contact-us {
    background-color: #f0f0f0;
    border: 1px solid var(--Primary-color-1, #2055A1);
    color: var(--Primary-color-1, #2055A1);

}

/* banner end----------------------- */


/* feature category section start */
.featured-categories .row {
    /* gap: 90px; */
    padding: 0 16px;
    /* justify-content: space-between; */
}

.featured-categories h2 {
    margin-bottom: 80px;
    color: #000;
    text-align: center;
    font-family: Nunito;
    font-size: 58px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: 1.16px;
}

.category-item {
    text-align: center;
}

.category-circle {
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background-color: #71CFF3;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 20px;
    overflow: hidden;
}

.category-circle img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.category-item p {
    margin-top: 24px;
    color: #000;
    text-align: center;
    font-family: Nunito;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.92px;
}



/* feature category section end */







/* footer start */


/* header end */